* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

.bkg {
    background-image: url('/images/cooknookbackg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    font-family: "Licorice", cursive;
    font-style: normal;
}

.companies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.companies img {
    height: 65px;
       width: auto;
    object-fit: contain;
}

.company-bkg {
    background-color: rgba(255, 165, 102, 0.75);
    padding: 1rem;
    border-radius: 10px;

    margin-top: 1rem;
    margin-bottom: 1rem;
}