nav {
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    /* z-index: 999; Ensure it's above other content */
}

nav>div {
    padding-left: 20px;
    /* Adjust as needed */
    padding-right: 20px;
    /* Adjust as needed */
}