.backgrpic-ta{
  background-image: url('/images/food-truck.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;


}

.profile-card {
    display: flex;
    align-items: center;
  }
  
  .profile-picture {
    width: 550px; /* Adjust as needed */
    height: 550px; /* Adjust as needed */
    border-radius: 50%; /* Creates a circular shape */
    overflow: hidden;
    margin-right: 20px; /* Adjust spacing between image and text */
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 2.5rem; /* Adjust as needed */
  }

  .profile-info p {
    margin: 0;
    font-size: 1.5rem; /* Adjust as needed */
  }